@keyframes left-to-right-next-animation {
    0% {
        z-index: 0;
        left: 0%;
        filter: blur(2px);
        transform: scale(1);
        transform: rotateY(300deg);
        opacity: 50%;
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        z-index: 2;
        left: 30%;
        filter: blur(0px);
        transform: scale(1);
        transform: rotateY(0deg);
        opacity: 100%;
    }
}

@keyframes right-to-left-next-animation {
    0% {
        left: 0%;
        transform: scale(1);
        transform: rotateY(120deg);
    }

    50% {
        transform: scale(0.8);
    }

    100% {
        left: -60%;
        transform: scale(1);
        transform: rotateY(-60deg);
    }
}

@keyframes middle-left-to-right-next-animation {
    0% {
        z-index: 1;
        left: 0%;
        filter: blur(0px);
        transform: scale(1);
        transform: rotateY(0deg);
        opacity: 100%;
    }

    50% {
        transform: scale(0.8);
        transform: rotateY(60deg);
    }

    100% {
        z-index: 0;
        left: 30%;
        filter: blur(2px);
        transform: scale(1);
        transform: rotateY(120deg);
        opacity: 50%;
    }
}

@keyframes left-to-right-prev-animation {
    0% {
        left: 0%;
        transform: scale(1);
        transform: rotateY(300deg);
    }

    50% {
        transform: scale(0.8);
    }

    100% {
        left: 60%;
        transform: scale(1);
        transform: rotateY(-240deg);
    }
}

@keyframes right-to-left-prev-animation {
    0% {
        left: 0%;
        transform: scale(1);
        transform: rotateY(120deg);
        filter: blur(2px);
        opacity: 50%;
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        left: -30%;
        transform: scale(1);
        transform: rotateY(0deg);
        filter: blur(0px);
        opacity: 100%;
    }
}

@keyframes middle-right-to-left-prev-animation {
    0% {
        left: 0%;
        transform: scale(1);
        transform: rotateY(0deg);
        filter: blur(0px);
        opacity: 100%;
    }

    50% {
        transform: scale(0.8);
        transform: rotateY(-30deg);
    }

    100% {
        left: -30%;
        transform: scale(1);
        transform: rotateY(-60deg);
        filter: blur(2px);
        opacity: 50%;
    }
}