$layout-diagonal-color: #880015;

$primary-color: #D6D6D6;
$secondary-color: rgb(111, 50, 190);
$secondary-bg-color: #2A182B;

$title-color: #FE7F00;



// Badges
$languages-color: #4FB331;
$languages-border-color: #377D22;

$frontend-color: #2662BA;
$frontend-border-color: #183E75;

$backend-color: #F23525;
$backend-border-color: #B8281C;

$vc-color: #C26C22;
$vc-border-color: #784315;

$bd-color: violet;
$bd-border-color: darkviolet;

$other-color: #F5C10D;
$other-border-color: #CFA30B;