@import './colors.scss';
@import './animations.scss';

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: $secondary-bg-color;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: $secondary-color;
    border-radius: 5px;
}

* {
    font-family: cursive;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}