---
import ContactForm from '../components/ContactForm.astro';
import GlobalLayout from '../layouts/GlobalLayout.astro';
---

<GlobalLayout>
    <h1 slot="title">¡Contáctame!</h1>
    <ContactForm />
</GlobalLayout>