---
import GlobalLayout from '../layouts/GlobalLayout.astro';
import Carousel from '../components/Carousel.vue';
---

<GlobalLayout>
  <h1 slot="title">Experiencie</h1>
  <Carousel client:load/>
</GlobalLayout>

<style>
    h1 {
        color: #f1f1f1;
    }
</style>