---
import GlobalLayout from '../layouts/GlobalLayout.astro';
import AccordionComponent from '../components/AccordionComponent.vue';
import {experienceData} from '../data/experience.data';
---

<GlobalLayout>
  <h1 slot="title">Experiencia</h1>
  <AccordionComponent client:load/>
</GlobalLayout>

<style>
    h1 {
        color: #f1f1f1;
    }
</style>