---

---
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
    <div class="layout--diagonal">
        <div class="basic-description">
            <h1 class="name">Pablo Manuel <br> Cáceres Menacho</h1>
            <div class="vl"></div>
            <h1 class="occupation">Frontend Developer</h1>
        </div>
    </div>
    <div class="layout--content">
        <img src="src/assets/profile.jpg" class="profile-pic"/>
        <article>
            <p>
                ¡Hola! Bienvenido a mi sitio web. <br> Soy Pablo Manuel, graduado en matemáticas, apasionado del desarrollo web
                y con más de 2 años de experiencia como Frontend developer. Gracias por pasarte por mi web. Te invito a echarle
                un vistazo a mis proyectos, así como mi experiencia profesional y algo más de información sobre mi.
                En caso de ser de tu interés, no dudes en contactarme. 
            </p>
        </article>
    </div>
    <slot />
    <!-- //TODO: PUNTO RUPTURA: 1100px widh -->
</body>
</html>

<style>
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Exo:ital,wght@0,100..900;1,100..900&display=swap')
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    .layout--diagonal {
        position: relative;
        background-color: transparent;
        height: 0px;

        &::before {
            content: '';
            position: absolute;
	        background-color: #880015;
            left: 0;
            width: 100%;
            height: 200px;
            clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 100%);
        }

        .basic-description {
            position: relative;
            color: white;
            display: flex;
            align-items: center;
            left: 30vw;
            top: 6vh;
            width: fit-content;
            gap: 20px;

            .name::first-line{
                color: #FE7F00;
            }

            .vl {
                border-left: 2px solid black;
                height: 70px;
            }
        }
    }
    .layout--content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(#000000, #1f1f1f);

        .profile-pic{
            position: absolute;
            top: 6vh;
            left: 6vw;
            width: 250px;
            height: 250px;
            border-radius: 135px;
        }

        article {
            position: relative;
            top: 10%;
            padding: 20px;
            width: 60%;
            font-size: 25px;
            color: white;
            font-family: "Edu NSW ACT Foundation", cursive;
            font-optical-sizing: auto;
            font-weight: <weight>;
            font-style: normal;

            &::first-line{
                color: #FE7F00;
            }
        }
    }
}
</style>