---
import { ViewTransitions } from 'astro:transitions';
import NavBar from "../shared/NavBar.astro";
import Footer from "../shared/Footer.astro";
---

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pablo</title>
    <ViewTransitions />
</head>
<body>
    <NavBar/>
    <div class="layout--diagonal">
        <div class="basic-description">
            <h1 class="name">Pablo Manuel <br> Cáceres Menacho</h1>
            <div class="vl"></div>
            <h1 class="occupation">Frontend Developer</h1>
        </div>
        <img src="src/assets/profile.jpg" class="profile-pic" transition:persist/>
    </div>
    <main class="layout--content">
        <slot />
    </main>
    <Footer />
    <!-- //TODO: PUNTO RUPTURA: 1100px widh -->
</body>
</html>

<style lang="scss" is:global>
@import '../styles/main.scss';
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    .layout--diagonal {
        position: relative;
        background-color: transparent;
        height: 0px;

        &::before {
            content: '';
            position: absolute;
	        background-color: $layout-diagonal-color;
            left: 0;
            width: 100%;
            height: 200px;
            clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 100%);
        }

        .basic-description {
            display: flex;
            position: relative;
            top: 6vh;
            left: 30vw;
            width: fit-content;
            align-items: center;
            gap: 20px;
            color: $primary-color;
            
            h1 {
                margin: 0px;
                font-family: 'Times New Roman', Times, serif;
            }

            .name::first-line{
                color: $title-color;
            }

            .vl {
                border-left: 2px solid black;
                height: 70px;
            }
        }

        .profile-pic{
            position: absolute;
            top: 6vh;
            left: 6vw;
            width: 250px;
            height: 250px;
            border-radius: 135px;
        }
    }
    .layout--content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(#000000, #1f1f1f);
    }
}
</style>